@model IEnumerable<Chopwella.Core.Staff>
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Staffs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staffs</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><div class="btn btn-success">Add New</div></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Staff Name</th>
                                    <th>Staff Number</th>
                                    <th>Email</th>
                                    <th>Category</th>
                                    
                                </tr>
                            </thead>
                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section scripts{


    <script>

        $(document).ready(function () {

            var dataTable = $('#example1').DataTable({
                //configuration settings for the table
                "ajax": {
                    "url": "http://localhost:60532/api/chopwella/staff",
                    "type": "GET",
                    "dataType": "json",
                    "dataSrc": "" //render as array not json
                },
                "columns":
                    [
                        { "data": "Id" },
                        { "data": "Name" },
                        { "data": "StaffNum" },
                        { "data": "Email" },
                        { "data": "Category.Name" },
                        

                    ],
                "bDestroy": true,

                "language": {
                    "emptyTable": "Table is empty"
                }
            });




        });


    </script>


}
