
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Main</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/staffTable.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href=" https://fonts.googleapis.com/css?family=Montserrat:400,700" rel='stylesheet' type='text/css'>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            var datatable = $('#table').DataTable();


            var table = $('#table');

            $(".catId").change(function (event) {
                var catId = $(this).val();
                $(function () {
                    datatable.destroy();
                    datatable = table.DataTable({
                        "ajax": {
                            "url": "http://localhost:60532/api/chopwella/staffbyCat/" + catId,
                            "type": "GET",
                            "dataType": "json",
                            "dataSrc": "",
                            "destroy": "true",
                            "stateSave": "true"
                        },
                        "columns": [
                            { "data": "Name" },
                            { "data": "StaffNum" },
                            {
                                "": "", "render": function () {
                                    return "<a class='btn btn-sm btn-default'> UnSigned <a/>";
                                }
                            }, {
                                "": "", "render": function () {
                                    return "<a class='btn btn-sm btn-default'> UnSigned <a/>";
                                }
                            }, {
                                "": "", "render": function () {
                                    return "<a class='btn btn-sm btn-default'> UnSigned <a/>";
                                }
                            }, {
                                "": "", "render": function () {
                                    return "<a class='btn btn-sm btn-default'> UnSigned <a/>";
                                }
                            },

                            {
                                "": "", "render": function () {
                                    return "<a class='btn btn-sm btn-default'> UnSigned <a/>";
                                }
                            }
                        ],
                        "keepConditions": "true",

                        "language": {
                            "emptytable": "No Record found"
                        }
                    });

                    $('#table').on('click', 'a', function (e) {
                        var btn = this;
                        swal({
                            title: "You are signing in for today's meal",
                            text: "Please Confirm you are signing against your name, because you can't unsign",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Sign in",
                            cancelButtonText: "Cancel",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                swal("Please Confirm you are signing against your name, because you can't unsign", "success");
                                $(btn).removeClass("btn-default").addClass("btn-success").text("Signed");
                            } else {
                                swal("Geanulleerd", "De advertentie is niet verwijderd", "error");
                                //var data = datatable.row($(this).parents('tr')).data();
                                //console.log(data);
                            }
                            })
                    
                        //if (confirm("Please Confirm you are signing against your name, because you can't unsign")) {
                        //    $(this).removeClass("btn-default").addClass("btn-success").text("Signed");
                        //}

                        //var data = datatable.row($(this).parents('tr')).data();
                        //console.log(data);
                    });

                });
            });



        });


    </script>
</head>
<body>
   
        <div id="first" class="container">
            <header class="row">
                <div id="chopLogo" class="col-lg-2 col-md-1 col-sm-1 ">
                    <a href="">
                        <img class="img-fluid" src="~/Content/Chopwela2-Recovered (1).png" />
                    </a>
                </div>
                <div id="logout" class="col-lg-2 col-md-1 col-sm-1">
                    <button type="button" id="logoutBtn" class="btn btn-secondary float-right">LOGOUT</button>
                </div>
            </header>
        </div>
        <div id="second" class="row">
            <div id="deptDropDown">
                <select class="form-control catId" id="dept">
                    <option value="-1">---Select Category---</option>

                    @foreach (var cat in ViewBag.Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
            }
                </select>
            </div>
        </div>


        <div class="limiter">
            <div class="table-container container-fluid" >
                <div class="wrap-table">
                    <div class="row">
                        <div class="table-responsive" id="t2" style="overflow: auto">
                            <table class="table table-bordered table-responsive-sm table-striped" style="width:100%" id="table">
                            @*<table class="table table-bordered table-responsive-sm table-striped" id="table">*@
                                <thead>
                                    <tr class="rows">
                                        <th class="columns" data-column="column1" >NAME</th>
                                        <th>STAFF NUMBER</th>
                                        <th>MONDAY</th>
                                        <th>TUESDAY</th>
                                        <th>WEDNESDAY</th>
                                        <th>THUSRDAY</th>
                                        <th>FRIDAY</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
      
        </div>

        <ul class="slideshow">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>

        </ul>
    </div>
</body>
</html>